@model IEnumerable<Testos.Models.ApplicationUser>

@{
    ViewBag.Title = "ListOfUsers";
}

<h2>ListOfUsers</h2>
@using (Html.BeginForm("ListOfUsers", "Profile", FormMethod.Get))
{
    @Html.TextBox("SearchString")<input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            Profil
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfterNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {  
    <tr>
        <td>
           
            @Html.ActionLink("Show profile", "SeeOtherProfile", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfterNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        
       
    </tr>
}

</table>
