@model IEnumerable<Testos.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>ListOfUsers</h2>
@using (Html.BeginForm("ListOfUsers", "Profile", FormMethod.Get))
{
    @Html.TextBox("SearchString")<input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            User Picture
        </th>
        <th>
            Profil
        </th>
        <th>
            Username
        </th>
        <th>
           Name
        </th>
        <th>
           Lastname
        </th>
        <th>
           Gender
        </th>
        <th>
           Age
        </th>
        <th>
            From
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.searchable == false)
        {
            <tr>
                <td>
                    <img width="200" height="200"src="@Url.Action("Image", new { id = item.Id})" />
                </td>
                <td>

                    @Html.ActionLink("Show profile", "SeeOtherProfile", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EfterNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>


            </tr>



        }
    }
</table>