@model Testos.Models.ProfileModel

@{
    ViewBag.Title = "User profile";
}

<h2>SeeOtherProfile</h2>

<div>
    <h4>ProfileModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Action("Image", new { id = Model.Id })" />
        </dd>
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        
        <dt>
            Lastname:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.EfterNamn)
        </dd>
        <dt>
           Gender:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Gender)
        </dd>
        <dt>
            Age:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Age)
        </dd>
    </dl>
</div>

<p>
    
    @Html.ActionLink("Send friend request", "SendRequest", "FriendRequest", new { id = Model.Id }, new { }) |

    @Html.ActionLink("See Posts", "Index", "Post", new { id = Model.Id }, new { }) |

    @Html.ActionLink("Write Posts", "SkapaPost", "Post", new { id = Model.Id }, new { }) |
</p>
