@model Testos.Models.ApplicationUser

@{
    ViewBag.Title = "Your Profile";
}

<h2>SeeProfile</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Action("Image", new { id = Model.Id })" />
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Lastname:
            @*@Html.DisplayNameFor(model => model.EfterNamn)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EfterNamn)
        </dd>

        <dt>
            Gender:
            @*@Html.DisplayNameFor(model => model.Gender)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Age:
            @*@Html.DisplayNameFor(model => model.Age)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            From:
            @*@Html.DisplayNameFor(model => model.From)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        

        
        <dt>
            Username:
            @*@Html.DisplayNameFor(model => model.UserName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
       


    </dl>
</div>
<div>
    @if (Model.searchable == false)
    {
        <h2> Sökbar</h2>
    }
    else
    {
        <h2> Inte Sökbar</h2>
    }

</div>
<p>
    @Html.ActionLink("Turn on search", "SearchableOn", "Profile", new { }) |
    @Html.ActionLink("Turn off search", "SearchableOff", "Profile", new { }) |
    @Html.ActionLink("Friends", "ViewFriends", "Profile", new { id = Model.Id }) |
    @Html.ActionLink("Edit profile", "EditProfile", new { id = Model.Id }) |
    @Html.ActionLink("Posts", "Index", "Post", new { id = Model.Id }, new { }) |
</p>
